.menu {
    display: flex;
    list-style: none;
    margin: 0;
    background: rgb(255, 30, 30);
    padding: 0;
    justify-content: center;
  }
  .menu li {
    flex: 1;
  }
  .menu a {
    font-family: Verdana, Times, Sans-serif;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 9px;
    color: white;
    user-select: none;
  }
  .menu li:hover {
    background: rgb(222, 46, 46);
  }
  .menu_abajo {
    display: flex;
    list-style: none;
    margin: 0;
    background:  rgb(134, 134, 134);
    padding: 0;
    justify-content: center;
  }
  .menu_abajo li {
    flex: 1;
  }
  .menu_abajo a {
    font-family: Verdana, Times, Sans-serif;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 9px;
    color: white;
    user-select: none;
  }
  .menu_abajo li:hover {
    background: rgb(94, 94, 94);
  }
  #titulo{
    font-family: Verdana, Times, Sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  p, legend{
    font-family: Verdana, Times, Sans-serif;
    font-size: 15px;
    text-align: justify;
    margin: 10px;
  }
  h1{
    font-family: Verdana, Times, Sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 10px;
  }

  #logo{
    display: flex;
    float: right;  
    margin:5px; 
  }
  #podio{
    float: right;   
    margin: 0 0 0 10px; 
  }
  #carrera{
    float: left;    
    margin: 0 20px 0 0 ;
  }

  ul{
    font-family: Verdana, Times, Sans-serif;
    font-size: 15px;
    text-align: justify;
    margin: 10px;
  }

  #video{
    display: block;
    margin: 0 auto;
  }

  #h1_campeones{
    text-align: center;
  }

  table{
    font-family: Verdana, Times, Sans-serif;
    font-size: 15px;
    text-align: justify;
    margin: 0 auto;
    border-spacing: 15;
  }

  tr:nth-child(2n+1) > td {
    background: #eee;
  }
  th{
    text-align: center;
    margin: 0 auto;
  }
  tr{
    line-height: 2;   
    text-align: center;
    margin: 0 auto;
  }

  #bandera{
    display: block;   
    margin: 0 auto;
  }

  .form{
    text-align: center;
  }

  fieldset{
    margin: 0 auto;
    width: 600px;
  }

  #boton{
    font-family: Verdana, Times, Sans-serif;
    font-size: 17px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  #enviado{
    font-family: Verdana, Times, Sans-serif;
    text-align: center;
  }
  #gif{
    display: block; 
    margin: 0 auto;
  }

  #texto, #correccion{
    display: flex;
    justify-content: center;
    font-family: Verdana, Times, Sans-serif;
    font-size: 20px;
  }

  #respuesta{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Times, Sans-serif;
    margin: auto;
    length: 10px;
    font-size: 23px;
  }

  #boton1{
    font-family: Verdana, Times, Sans-serif;
    font-size: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(155, 155, 155);
    color: white;
    border: none;
  }

  #desplegable{
    font-family: Verdana, Times, Sans-serif;
    font-size: 17px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  